@import "_variables";

.projectdetail {
	position: relative;
	width: 100%;

	&__heroimage {
		max-width: 90%;
		margin-left: auto;
		margin-bottom: @text-margin-bottom;
		box-shadow: 0 8px 50px rgba(#000, 0.2);
	}
	&__copy {
		max-width: 90%;
	}
}

@media (min-width: @md) {
	.projectdetail {
		&__heroimage {
			margin-bottom: 3rem;
			max-width: 80%;
		}
		&__copy {
			max-width: 80%;
		}
	}
}
